<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/process_post" method="POST">
        {% csrf_token %}
        <p><label for="">Your name</label></p>
        <p><input type="text" name='name'></p>

        <p><label for="">Post</label></p>
        <p><textarea name="post" id="" cols="30" rows="10"></textarea></p>
        <button class='btn btn-primary' >Write Post</button>
    </form>
</body>
</html>